# ── SERVEUR ──
PORT=3000
NODE_ENV=production

# ── BASE DE DONNÉES (Railway l'injecte automatiquement) ──
DATABASE_URL=postgresql://user:password@host:5432/studiokay_db

# ── JWT ──
JWT_SECRET=studiokay_super_secret_change_moi_2025

# ── EMAIL GMAIL ──
GMAIL_USER=kamsenconciergerie@gmail.com
GMAIL_PASS=xxxx_xxxx_xxxx_xxxx

# ── URL DE L'APP ──
APP_URL=https://studiokay-production.up.railway.app
